<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php">

    <!-- 修正 testsuite，添加 name 屬性 -->
    <testsuite name="MyTestSuite">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <!-- 使用 coverage.include 替代 filter/whitelist -->
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
